H1 {
	TEXT-ALIGN: center
}
CAPTION {
	FONT-WEIGHT: bold
}
A.qindex {
	
}
A.qindexRef {
	
}
A.el {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.elRef {
	FONT-WEIGHT: bold
}
A.code {
	FONT-WEIGHT: normal; COLOR: #4444ee; TEXT-DECORATION: none
}
A.codeRef {
	FONT-WEIGHT: normal; COLOR: #4444ee
}
A:hover {
	BACKGROUND-COLOR: #f2f2ff; TEXT-DECORATION: none
}
DL.el {
	MARGIN-LEFT: -1cm
}
DIV.fragment {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; WIDTH: 100%; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #eeeeee
}
DIV.ah {
	MARGIN-TOP: 3px; FONT-WEIGHT: bold; MARGIN-BOTTOM: 3px; COLOR: #ffffff; BACKGROUND-COLOR: black
}
TD.md {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #f2f2ff
}
TD.mdname1 {
	FONT-WEIGHT: bold; COLOR: #602020; BACKGROUND-COLOR: #f2f2ff
}
TD.mdname {
	FONT-WEIGHT: bold; WIDTH: 600px; COLOR: #602020; BACKGROUND-COLOR: #f2f2ff
}
DIV.groupHeader {
	MARGIN-TOP: 12px; FONT-WEIGHT: bold; MARGIN-BOTTOM: 6px; MARGIN-LEFT: 16px
}
DIV.groupText {
	FONT-SIZE: smaller; MARGIN-LEFT: 16px; FONT-STYLE: italic
}
BODY {
	BACKGROUND: white
}
TD.indexkey {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 2px 0px; PADDING-TOP: 2px; BACKGROUND-COLOR: #eeeeff
}
TD.indexvalue {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 2px; MARGIN: 2px 0px; PADDING-TOP: 2px; FONT-STYLE: italic; BACKGROUND-COLOR: #eeeeff
}
FONT.keyword {
	COLOR: #008000
}
FONT.keywordtype {
	COLOR: #604020
}
FONT.keywordflow {
	COLOR: #e08000
}
FONT.comment {
	COLOR: #800000
}
FONT.preprocessor {
	COLOR: #806020
}
FONT.stringliteral {
	COLOR: #002080
}
FONT.charliteral {
	COLOR: #008080
}
